.results {
  background-color: #f5f6f7;
  padding: 80px 0;
  margin: auto;
}

.results__box {
  margin: auto;
  width: min-content;
  display: flex;
  flex-direction: column;
}

.results__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0;
}

.results__add {
  width: 288px;
  height: 64px;
  background-color: white;
  border: none;
  border-radius: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  align-self: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  margin: 64px 0;
}

@media screen and (max-width: 1410px) {
  .cards {
    margin: 32px auto;
    column-gap: 8px;
    max-width: 1200px;
  }
  .results {
    padding: 40px 0;
  }
  .results__add {
    height: 56px;
  }
}

@media screen and (max-width: 740px) {
  .cards {
    margin: 32px auto;
    column-gap: 8px;
    max-width: 600px;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
  }
  .results {
    padding: 40px 0;
  }
  .results__add {
    height: 56px;
  }
}

@media screen and (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .results__title {
    font-size: 30px;
    line-height: 34px;
  }
  .results {
    padding: 32px 0;
  }
}
