.header {
  border-bottom: 1px solid #d1d2d6;
}

.header__container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(1440px - 208px);
}

.header__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.header__box {
  display: flex;
  flex-direction: row;
}

.header__circle {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
  margin-left: 32px;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 12px;
}

.header__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-left: 32px;
}

.header__link_active {
  padding: 23px 0;
  border-bottom: 3px solid black;
}

.header__link_active_light-theme {
  padding: 23px 0;
  border-bottom: 3px solid white;
}

.header_light-theme {
  color: white;
}

.header__link:last-of-type {
  margin: 0;
  
}